{% extends 'base.html' %}

{% block title %}
{{ stockName }}
{% endblock %}

{% block body %}

    <!-- Displaying Pros and Cons -->
    <div class="container my-4">
        <h2> {{ stockName }} </h2>
        <div class="alert alert-info my-4" role="alert">
            <div class="row">
                <div class="col">
                    <strong>Pros : </strong>
                    {%for value in pros%}
                    <p>{{value}}</p>
                    {%endfor%}
                </div>
                <div class="col">
                    <strong>Cons : </strong>
                    {%for value in cons%}
                    <p>{{value}}</p>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

    <!-- Displaying quaterly Results -->
    <div class="container my-8 mb-8">
        <div class="alert alert-dark" role="alert">
            <h2>Quarter Results</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for row in quarterTable|slice:":1" %}
                        {%for item in row %}
                        <th scope="col">{{item}}</th>
                        {%endfor%}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in quarterTable|slice:"1:" %}
                    <tr>
                        {% if forloop.counter0 == 0 %}
                        <th scope="col">Sales</th>
                        {% elif forloop.counter0 == 1 %}
                        <th scope="col">Expense</th>
                        {% endif %}

                        {%for item in row %}
                        {% if forloop.counter0 == 0 %}
                        {% if forloop.parentloop.counter0 > 1 %}
                        <th scope="col">{{item}}</th>
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Displaying Profit and Loss Statement -->
    <div class="container my-18 mb-8">
        <div class="alert alert-dark" role="alert">
            <h2>Profit and Loss </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for row in profitLossTable|slice:":1" %}
                        {%for item in row %}
                        <th scope="col">{{item}}</th>
                        {%endfor%}

                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in profitLossTable|slice:"1:13" %}
                    <tr>
                        {% if forloop.counter0 == 0 %}
                        <th scope="col">Sales</th>
                        {% elif forloop.counter0 == 1 %}
                        <th scope="col">Expense</th>
                        {% endif %}

                        {%for item in row %}
                        {% if forloop.counter0 == 0 %}
                        {% if forloop.parentloop.counter0 > 1 %}
                        <th scope="col">{{item}}</th>
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Displaying Balance Sheet -->
    <div class="container my-18 mb-8">
        <div class="alert alert-dark" role="alert">
            <h2>Balance Sheet </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for row in balanceSheetTable|slice:":1" %}
                        {%for item in row %}
                        <th scope="col">{{item}}</th>
                        {%endfor%}

                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in balanceSheetTable|slice:"1:13" %}
                    <tr>
                        {% if forloop.counter0 == 0 %}
                        <th scope="col">Sales</th>
                        {% elif forloop.counter0 == 1 %}
                        <th scope="col">Expense</th>
                        {% endif %}

                        {%for item in row %}
                        {% if forloop.counter0 == 0 %}
                        {% if forloop.parentloop.counter0 > 1 %}
                        <th scope="col">{{item}}</th>
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Displaying Ratios -->
    <div class="container my-18 mb-8">
        <div class="alert alert-dark" role="alert">
            <h2>Ratios </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for row in ratiosTable|slice:":1" %}
                        {%for item in row %}
                        <th scope="col">{{item}}</th>
                        {%endfor%}

                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in ratiosTable|slice:"1:13" %}
                    <tr>


                        {%for item in row %}
                        {% if forloop.counter0 == 0 %}

                        <th scope="col">{{item}}</th>
                        {% else %}
                        <td scope="col">{{item}}</td>
                        {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}












